

.SignupPage {
  margin: 2rem auto;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: linear-gradient(135deg, #f6f9ff 0%, hwb(219 91% 0%) 100%);

}

.SignupPage h1 {
  text-align: center;
  margin-bottom: 3.5rem;
  color: #0b3b6f;
}

.SignupPage form {
  display: flex;
  gap: 1.5rem;
}

.SignupPage label {
  flex: 0 0 auto;
  align-self: center;
  font-weight: 600;
  color: #0b3b6f;
}

.SignupPage input {
  flex: 1 1 auto;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgb(255, 244, 224);
}

.SignupPage .SignupButton {
  background: #0b5fff;
  color: #fff;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.SignupButton:hover{
  background: #094ac1;
}