
.WorkoutDetailsPage {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  background: #f9fafb;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}



.WorkoutDetailsPage h2 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  color: #1f2937;
}

.WorkoutDetailsPage p {
  color: #6b7280;
}
