

.WorkoutCard {
  font-family: Arial, sans-serif;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  text-align: left;
  display: inline-block;
  background-color: #f9fafb;
}

.WorkoutCard button {
  margin-right: 10px;
}

.WorkoutCard h3 {
  margin-top: 0;
  text-align: center;
}